<a href="https://colab.research.google.com/github/Zarin-08/ETE-456/blob/main/Regression_Project_1608008_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ETE-456:** Regression Project on Medical Cost Personal Dataset


> Objective: 
 1. *Apply various regression algorithms on the real world dataset.*

##Dataset (Medical Cost Personal Datasets)
Columns

**age:** age of primary beneficiary

**sex:** insurance contractor gender, female, male

**bmi:** Body mass index, providing an understanding of body, weights that are relatively high or low relative to height, objective index of body weight (kg / m ^ 2) using the ratio of height to weight, ideally 18.5 to 24.9

**children:** Number of children covered by health insurance / Number of dependents

**smoker: **Smoking

**region:** the beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

**charges:** Individual medical costs billed by health insurance

In [48]:
import warnings
warnings.filterwarnings("ignore")

### **Import the Libraries**

In [49]:
import numpy as np        
import pandas as pd     
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

### **Dataset**

In [50]:
# Download the data
!wget -O insurance.csv https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0

--2021-12-20 10:29:39--  https://www.dropbox.com/s/mwgqgjbmfw0xa5p/insurance.csv?dl=0
Resolving www.dropbox.com (www.dropbox.com)... 162.125.81.18, 2620:100:6035:18::a27d:5512
Connecting to www.dropbox.com (www.dropbox.com)|162.125.81.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/mwgqgjbmfw0xa5p/insurance.csv [following]
--2021-12-20 10:29:39--  https://www.dropbox.com/s/raw/mwgqgjbmfw0xa5p/insurance.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com/cd/0/inline/BcPYdgrPyg_h1OCjeSf39F55qCMdUPkr_IPS8wG3iTw15gaL7pIPkLFxO3uEBsyu_2TbACQPnkrIYvbMuP1r_hyTIUjij6Z0Q2HLC2-Cm_FigoSGPm7xbReuuoeIZpYnoH_Ws54rdUjIX7MUY3CPtlYk/file# [following]
--2021-12-20 10:29:40--  https://uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com/cd/0/inline/BcPYdgrPyg_h1OCjeSf39F55qCMdUPkr_IPS8wG3iTw15gaL7pIPkLFxO3uEBsyu_2TbACQPnkrIYvbMuP1r_hyTIUjij6Z0Q2HLC2-Cm_FigoSGPm7xbReuuoeIZpYnoH_Ws54rdUjIX7MUY3CPtlYk/file
Resolving uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com (uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com)... 162.125.80.15, 2620:100:6035:15::a27d:550f
Connecting to uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com (uc7e7607911a2297eb0ff48d8cb7.dl.dropboxusercontent.com)|162.125.80.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 55628 (54K) [text/plain]
Saving to: ‘insurance.csv’

insurance.csv       100%[===================>]  54.32K  --.-KB/s    in 0.1s

2021-12-20 10:29:40 (420 KB/s) - ‘insurance.csv’ saved [55628/55628]

In [51]:
"""importing the dataset """

dataset = pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [52]:
# Feature Columns
features = dataset[['age', 'bmi', 'smoker', 'children']]
# Target Columns
target = dataset[['charges']]

In [53]:
features

      age     bmi smoker  children
0      19  27.900    yes         0
1      18  33.770     no         1
2      28  33.000     no         3
3      33  22.705     no         0
4      32  28.880     no         0
...   ...     ...    ...       ...
1333   50  30.970     no         3
1334   18  31.920     no         0
1335   18  36.850     no         0
1336   21  25.800     no         0
1337   61  29.070    yes         0

[1338 rows x 4 columns]

### **Label Encoding**

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
labelencoder_f = LabelEncoder()
#the country column is represented by numeric value
features['smoker'] = labelencoder_f.fit_transform(features['smoker'])

In [56]:
features

      age     bmi  smoker  children
0      19  27.900       1         0
1      18  33.770       0         1
2      28  33.000       0         3
3      33  22.705       0         0
4      32  28.880       0         0
...   ...     ...     ...       ...
1333   50  30.970       0         3
1334   18  31.920       0         0
1335   18  36.850       0         0
1336   21  25.800       0         0
1337   61  29.070       1         0

[1338 rows x 4 columns]

### Taking care of missing values

In [57]:
from sklearn.impute import SimpleImputer

In [58]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") # imputer is an object of Imputer class 
imputer = imputer.fit(features[['age', 'bmi', 'children','smoker']])

In [59]:
features[['age', 'bmi', 'children','smoker']]= imputer.transform(features[['age', 'bmi', 'children','smoker']])

In [60]:
features

       age     bmi  smoker  children
0     19.0  27.900     1.0       0.0
1     18.0  33.770     0.0       1.0
2     28.0  33.000     0.0       3.0
3     33.0  22.705     0.0       0.0
4     32.0  28.880     0.0       0.0
...    ...     ...     ...       ...
1333  50.0  30.970     0.0       3.0
1334  18.0  31.920     0.0       0.0
1335  18.0  36.850     0.0       0.0
1336  21.0  25.800     0.0       0.0
1337  61.0  29.070     1.0       0.0

[1338 rows x 4 columns]

In [61]:
imputer = SimpleImputer(missing_values=np.nan,strategy = "mean") # imputer is an object of Imputer class 
imputer = imputer.fit(target[['charges']])

In [62]:
target[['charges']]= imputer.transform(target[['charges']])

In [63]:
target

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

### **Splitting Dataset**

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
"""Spliting the Dataset into Training Set and Test Set """

X_train,X_test,y_train,y_test=train_test_split(features,target,test_size = 0.2,random_state = 0)
# random_state = 0 is select to get the same result

In [66]:
print(X_train.shape)
print(X_test.shape)

(1070, 4)
(268, 4)

### **Feature Scaling**

In [67]:
from sklearn.preprocessing import StandardScaler
X_sc = StandardScaler()
y_sc = StandardScaler()
y_train = y_sc.fit_transform(y_train[['charges']])
y_test = y_sc.transform(y_test[['charges']])

### Different types of Regression Algorithm

1. Linear Regression (Univariate or Multivariate)
2. Support Vector Regression
3. Decision Tree Regression
4. Random Forest Regressrion

### **Simple Linear Regression**

In [68]:
from sklearn.linear_model import LinearRegression


regressor = LinearRegression()


regressor.fit(X_train,y_train)

LinearRegression()

In [69]:
# predicting the Test set Results
y_pred = regressor.predict(X_test)

In [70]:
regressor.score(X_train,y_train)

0.7361379262990395

In [71]:
y_test

array([[-2.90360755e-01],
       [-3.88647200e-01],
       [ 2.71438394e+00],
       [-2.09721124e-02],
       [-2.97065319e-01],
       [-7.26671304e-01],
       [-9.18940714e-01],
       [-1.47361673e-01],
       [-4.73043767e-01],
       [-6.49444142e-01],
       [-5.38531882e-01],
       [-2.26101189e-01],
       [-4.89698454e-01],
       [-7.52999425e-01],
       [ 4.26736889e-01],
       [-2.08671402e-01],
       [-5.65894545e-02],
       [-8.11006298e-01],
       [-5.63185752e-01],
       [ 1.69328373e+00],
       [ 8.99164540e-01],
       [-4.65863314e-02],
       [ 8.22176839e-01],
       [ 8.23835038e-01],
       [-9.62666851e-01],
       [-7.12701491e-01],
       [-7.90788753e-01],
       [-4.60891484e-01],
       [-7.88784629e-01],
       [-3.99857588e-01],
       [-4.29404684e-01],
       [ 2.98733744e+00],
       [-1.85261566e-02],
       [ 6.20458841e-01],
       [ 1.14477957e-01],
       [-7.56972780e-01],
       [-4.05394683e-01],
       [ 3.17310604e+00],
       [ 2.23844447e+00],
       [-9.45474413e-01],
       [-6.46686140e-01],
       [-8.63073476e-01],
       [ 5.80290287e-01],
       [ 2.86425349e+00],
       [ 1.91658125e+00],
       [ 1.07050601e+00],
       [ 5.46888400e-01],
       [-5.22841324e-01],
       [-7.08475856e-01],
       [ 7.50925765e-01],
       [-8.60370040e-01],
       [ 4.70830846e-01],
       [ 8.65831844e-01],
       [ 2.76057657e+00],
       [ 9.20875224e-01],
       [-8.29522299e-01],
       [-9.08548487e-01],
       [-3.65302549e-01],
       [ 1.06664020e-01],
       [-7.39773739e-03],
       [-9.97802290e-01],
       [ 2.79924934e+00],
       [ 6.00189764e-02],
       [-2.98222493e-01],
       [-2.05812741e-01],
       [-2.77370634e-01],
       [ 1.61582334e+00],
       [ 2.13346507e+00],
       [-8.36899933e-01],
       [-4.20799295e-01],
       [-1.33010608e-02],
       [-1.37549600e-01],
       [ 2.53196612e-01],
       [ 5.73585815e-02],
       [-1.57825574e-02],
       [ 1.32896510e-03],
       [-5.05620452e-01],
       [-4.56819420e-01],
       [ 5.92612482e-01],
       [ 2.85651858e+00],
       [-1.28850805e-01],
       [ 2.72784549e+00],
       [-9.30872415e-01],
       [-4.81070695e-01],
       [ 2.32454159e+00],
       [ 4.82004743e-01],
       [-8.17706486e-01],
       [-8.77066912e-01],
       [-7.24391093e-02],
       [ 1.97403980e+00],
       [-5.73500131e-01],
       [-2.49428402e-01],
       [ 3.90670648e-01],
       [-3.91314126e-01],
       [-7.25127319e-01],
       [-6.72534245e-01],
       [ 2.43056442e+00],
       [ 2.15452739e+00],
       [-6.57597364e-01],
       [-2.17044634e-01],
       [-9.50168221e-01],
       [-6.53416690e-01],
       [-7.39272172e-01],
       [ 2.04963208e+00],
       [ 1.63579385e+00],
       [-8.22454756e-01],
       [-2.19157456e-01],
       [-8.05462985e-01],
       [-1.04946871e-01],
       [ 3.28971883e+00],
       [-6.06194588e-02],
       [-7.46228849e-01],
       [-3.30034401e-01],
       [ 1.71473679e+00],
       [ 2.96272239e+00],
       [-4.56968194e-01],
       [-9.38434485e-01],
       [-3.97267635e-01],
       [-7.13246538e-02],
       [-3.25658230e-01],
       [ 2.41560005e+00],
       [-2.68102743e-01],
       [ 9.33597777e-02],
       [-6.49134764e-01],
       [-4.65541479e-01],
       [-6.92757382e-01],
       [ 8.51887266e-01],
       [ 6.59567554e-01],
       [ 2.92078359e+00],
       [-9.42398352e-01],
       [-4.16081596e-01],
       [-9.58414148e-01],
       [-6.03358623e-01],
       [-3.20694522e-01],
       [ 7.46883098e-01],
       [ 1.86163990e+00],
       [ 5.27358555e-01],
       [-2.58399451e-01],
       [ 8.38815502e-01],
       [-8.69593024e-01],
       [-9.13647472e-01],
       [-2.17703039e-01],
       [-3.25423684e-01],
       [-2.31018736e-01],
       [-6.93730889e-01],
       [ 9.29267653e-02],
       [ 1.26000246e+00],
       [ 1.02299712e-01],
       [-9.66621385e-01],
       [ 1.02859393e+00],
       [-5.55065615e-01],
       [ 2.20574120e+00],
       [-2.70355845e-01],
       [-9.58848321e-01],
       [-8.74516334e-01],
       [-5.59645243e-01],
       [-8.81768926e-01],
       [-9.58924940e-01],
       [-1.76688902e-01],
       [-2.57748997e-01],
       [-6.97725787e-01],
       [-1.82324511e-02],
       [ 1.31305595e+00],
       [-3.18187398e-01],
       [-7.23005264e-01],
       [ 3.27993000e-01],
       [ 5.37287088e-02],
       [-5.91966861e-01],
       [-7.31609359e-01],
       [-9.66063543e-01],
       [-7.63554803e-01],
       [-7.32120398e-01],
       [-4.08428463e-01],
       [-9.36584292e-01],
       [-7.46681664e-01],
       [-7.26310246e-01],
       [-7.32638736e-01],
       [-5.91610789e-01],
       [ 1.41843812e+00],
       [-9.59802753e-01],
       [-1.68164295e-01],
       [-5.34871713e-01],
       [-1.54049513e-01],
       [-8.93866756e-01],
       [ 1.18383523e+00],
       [ 1.24442107e+00],
       [-9.14213060e-01],
       [-8.85568088e-01],
       [ 1.24565061e-01],
       [-2.36376599e-01],
       [ 2.32979820e+00],
       [-7.69963561e-01],
       [-6.45483277e-01],
       [ 6.70017391e-01],
       [-8.90861856e-01],
       [-9.37752148e-01],
       [-5.67481274e-01],
       [-5.55342913e-01],
       [-7.63604608e-01],
       [-7.48114316e-01],
       [-1.41042179e-01],
       [ 2.81353898e+00],
       [-7.78840854e-02],
       [ 5.01000680e-01],
       [-7.32262920e-01],
       [ 2.48620038e+00],
       [ 8.38538586e-01],
       [-3.39099724e-01],
       [-6.15077000e-01],
       [-1.00653320e+00],
       [-3.70477358e-01],
       [ 7.03462137e-02],
       [-6.58869367e-01],
       [-2.00879657e-01],
       [-5.77852099e-01],
       [-9.38030762e-01],
       [-5.39057665e-01],
       [-6.55369589e-01],
       [ 6.68226169e-02],
       [-5.28097049e-01],
       [-5.85016802e-01],
       [-4.35518476e-01],
       [-4.11210940e-01],
       [-8.34730048e-01],
       [-1.13002399e-01],
       [ 8.42985590e-02],
       [-7.81451063e-02],
       [-1.13919503e-01],
       [-5.46926144e-01],
       [-9.23996541e-01],
       [-1.00802727e+00],
       [-4.05750096e-01],
       [-7.98969578e-02],
       [-7.21589336e-01],
       [ 3.69569057e-01],
       [-5.28265679e-01],
       [-3.13507387e-01],
       [ 1.75827995e+00],
       [-5.95817370e-01],
       [-1.22895989e-01],
       [-6.52909055e-01],
       [ 2.02647840e+00],
       [-4.86856860e-01],
       [-4.90759108e-01],
       [-4.00142900e-01],
       [-2.28770938e-01],
       [-8.28601779e-01],
       [-4.57168013e-01],
       [-8.74365639e-01],
       [-5.29725679e-01],
       [ 5.27895287e-01],
       [ 2.84828586e+00],
       [-7.69466699e-01],
       [-8.32062140e-01],
       [-4.90868798e-01],
       [-9.60166692e-01],
       [-4.80664383e-01],
       [-9.66408328e-01],
       [-6.95131663e-01],
       [-8.05048187e-01],
       [-3.83830738e-01],
       [ 9.45339690e-01],
       [ 2.71506757e+00],
       [ 1.51882809e-01],
       [-5.45910811e-01],
       [ 6.27034732e-01],
       [ 2.31604020e+00],
       [-3.09065045e-01]])

In [72]:
X_test

       age     bmi  smoker  children
578   52.0  30.200     0.0       1.0
610   47.0  29.370     0.0       1.0
569   48.0  40.565     1.0       2.0
1034  61.0  38.380     0.0       0.0
198   51.0  18.050     0.0       0.0
...    ...     ...     ...       ...
1084  62.0  30.495     0.0       2.0
726   41.0  28.405     0.0       1.0
1132  57.0  40.280     0.0       0.0
725   30.0  39.050     1.0       3.0
963   46.0  24.795     0.0       3.0

[268 rows x 4 columns]

In [73]:
y_pred

array([[-0.1453172 ],
       [-0.27401501],
       [ 2.05297905],
       [ 0.22941353],
       [-0.52791336],
       [-0.80088618],
       [-1.0093192 ],
       [ 0.07092162],
       [-0.37125691],
       [-0.49742414],
       [-0.75660804],
       [-0.2585217 ],
       [-0.34500123],
       [-0.74358949],
       [ 1.21081013],
       [-0.1706158 ],
       [-0.16836915],
       [-0.63765533],
       [-0.43265334],
       [ 1.12025665],
       [ 1.69458544],
       [ 0.07275264],
       [-0.16320059],
       [ 1.61876017],
       [-0.72451664],
       [-0.38015231],
       [-1.03803848],
       [-0.25395931],
       [-0.7478871 ],
       [-0.25052165],
       [-0.36936925],
       [ 2.26665788],
       [ 0.22446636],
       [ 0.07272686],
       [ 0.93324406],
       [-0.71053946],
       [-0.02371172],
       [ 1.47960298],
       [ 1.67402796],
       [-0.77969103],
       [-0.79899852],
       [-0.73156623],
       [ 1.41038016],
       [ 2.16925858],
       [ 1.24274931],
       [-0.70308231],
       [-0.17945229],
       [-0.46229221],
       [-0.83484327],
       [-0.20539899],
       [-0.67390101],
       [-0.8369053 ],
       [ 1.68056488],
       [ 2.05869867],
       [ 0.2600536 ],
       [-0.55216528],
       [-0.59515602],
       [-0.32535009],
       [-0.31845345],
       [-0.13241111],
       [-0.92416092],
       [ 2.12758909],
       [ 0.17487698],
       [-0.09571602],
       [ 0.02264532],
       [ 0.08241668],
       [ 1.087314  ],
       [ 1.5615804 ],
       [-0.99200884],
       [-0.27490293],
       [-0.04317888],
       [-0.09936109],
       [ 1.02961566],
       [ 0.23103341],
       [-0.17600066],
       [-0.08187863],
       [-0.52058274],
       [-0.26659463],
       [ 1.38085456],
       [ 2.17964507],
       [-0.13398688],
       [ 2.02548009],
       [-0.76896688],
       [-0.29437898],
       [ 1.76046184],
       [ 1.34610078],
       [-0.37229278],
       [-0.71177094],
       [-0.068554  ],
       [ 1.45677905],
       [-0.31332392],
       [-0.12542479],
       [-0.4583309 ],
       [-0.32188302],
       [-0.44474875],
       [-0.53532648],
       [ 1.86556554],
       [ 1.6902547 ],
       [-0.48759308],
       [ 0.17435315],
       [-0.73562257],
       [-0.38909619],
       [-0.54545182],
       [ 1.56125008],
       [ 1.63301465],
       [-0.94740412],
       [-0.3129928 ],
       [-0.56997215],
       [ 0.07140788],
       [ 2.02867212],
       [-0.26457744],
       [-0.20242199],
       [-0.26584133],
       [ 1.10564979],
       [ 2.25057827],
       [-0.43142185],
       [-1.04631592],
       [-0.32026241],
       [ 0.1885076 ],
       [-0.32046102],
       [ 1.85942293],
       [-0.4989873 ],
       [ 0.32864312],
       [-0.34828149],
       [-0.38797209],
       [-0.86596887],
       [ 1.60906299],
       [ 1.51594143],
       [ 2.21879059],
       [-0.66306948],
       [-0.29015861],
       [-0.77373677],
       [-0.4303199 ],
       [-0.41089678],
       [ 1.5703941 ],
       [ 1.42145959],
       [ 1.42686805],
       [-0.33028473],
       [ 1.64993806],
       [-0.83890624],
       [-0.81664363],
       [-0.18580749],
       [ 0.02249891],
       [-0.06973474],
       [-0.66063075],
       [ 0.22876397],
       [ 0.1729768 ],
       [-0.91487711],
       [-1.11012892],
       [-0.22965228],
       [-0.52203198],
       [ 1.57578405],
       [-0.11037951],
       [-0.87388368],
       [-0.5959292 ],
       [-0.4112948 ],
       [-0.75335955],
       [-0.89155666],
       [-0.17168689],
       [-0.08039635],
       [-0.54190088],
       [ 0.2922128 ],
       [-0.12766773],
       [ 0.08777213],
       [-0.8663698 ],
       [-0.54184424],
       [ 0.85836852],
       [-0.51268718],
       [-0.68126912],
       [-0.64769244],
       [-0.56259588],
       [-0.70665086],
       [-0.28802306],
       [-0.62596311],
       [-0.6030869 ],
       [-0.51974638],
       [-0.82621128],
       [-0.64573625],
       [ 2.03572325],
       [-1.01440687],
       [-0.06838997],
       [-0.37474458],
       [ 0.02721879],
       [-0.62098944],
       [-0.70098788],
       [ 1.90778609],
       [-0.77914223],
       [-0.90720148],
       [ 0.14829834],
       [-0.08902833],
       [ 1.7896189 ],
       [-0.67051483],
       [-0.60117201],
       [ 1.54874429],
       [-0.61096122],
       [-0.89534224],
       [-0.43868484],
       [-0.31492393],
       [-0.40928288],
       [-0.63548002],
       [-0.0464959 ],
       [ 2.14276971],
       [ 0.02347587],
       [ 1.33424155],
       [-0.55816439],
       [ 1.890358  ],
       [-0.82395509],
       [-0.07684396],
       [-0.31980711],
       [-0.56227301],
       [-0.17426313],
       [ 0.07263936],
       [-0.6884997 ],
       [-0.71312968],
       [-0.41704529],
       [-0.95960764],
       [-0.48507348],
       [-0.76587197],
       [ 0.01219856],
       [-0.77447156],
       [-0.2478403 ],
       [-0.5356626 ],
       [-0.30126382],
       [-0.93657258],
       [ 0.02414603],
       [ 0.28057795],
       [ 0.17156069],
       [-0.18739424],
       [-0.61466211],
       [-0.87565434],
       [-0.90689622],
       [-0.02606431],
       [ 0.10167279],
       [-0.73066361],
       [-0.74659898],
       [-0.2900446 ],
       [-0.30654275],
       [ 1.21561016],
       [-0.50168127],
       [-0.26077789],
       [-0.54901964],
       [ 1.36041036],
       [-0.15883608],
       [-0.51002561],
       [-0.26732805],
       [-0.0983165 ],
       [-0.88878254],
       [-0.2196837 ],
       [-1.00808772],
       [-0.54718272],
       [ 1.30743852],
       [ 2.14840545],
       [-0.5559082 ],
       [-0.40081718],
       [-0.93300404],
       [-1.09835355],
       [-0.2006586 ],
       [-0.72722087],
       [-0.70624993],
       [-0.86485367],
       [-0.48621882],
       [ 1.71244306],
       [ 2.05024106],
       [ 0.11148552],
       [-0.4276223 ],
       [ 0.19511214],
       [ 1.66506784],
       [-0.3458994 ]])

### **Evaluation Matrices**

1. Mean Absolute Error (MAE)
2. Mean Squared Error (MSE)
3. R-Squared Error

In [74]:
from sklearn.metrics import mean_absolute_error

# MAE

mean_absolute_error(y_test, y_pred)

0.3291476588325616

In [75]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

0.22440240237700151

In [76]:
from sklearn.metrics import r2_score

r2_score(y_test, y_pred)

0.7978274606303823

In [77]:
mean_absolute_error(y_test, y_pred)

0.3291476588325616

In [78]:
mean_squared_error(y_test, y_pred)

0.22440240237700151

### **Support Vector Regression**

In [79]:
# Fitting SVR to the dataset
from sklearn.svm import SVR 

regressor = SVR(kernel = 'linear')
regressor.fit(X_train,y_train)

SVR(kernel='linear')

In [80]:
y_pred = regressor.predict(X_test)

In [81]:
regressor.score(X_train,y_train)

0.6785757829098201

In [82]:
r2_score(y_test, y_pred)

0.7660151179057306

In [83]:
mean_absolute_error(y_test, y_pred)

0.2654285114234701

In [84]:
mean_squared_error(y_test, y_pred)

0.25971266832563783

### **Decision Tree Regression**

In [85]:
from sklearn.tree import DecisionTreeRegressor


regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [86]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.7328218425585529

In [87]:
regressor.score(X_train,y_train)

0.9982932582589356

In [88]:
mean_absolute_error(y_test, y_pred)

0.2471217344359763

In [89]:
mean_squared_error(y_test, y_pred)

0.29655570721654356

### **Random Forest Regression**

In [90]:
# Fitting the Random Forest Regression with the dataset
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators = 10,random_state = 0) # n estiamator is the number of decision trees
regressor.fit(X_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [91]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.8599430915361103

In [92]:
regressor.score(X_train,y_train)

0.9650281786414272

In [93]:
mean_absolute_error(y_test, y_pred)

0.2313787994014181

In [94]:
mean_squared_error(y_test, y_pred)

0.15545685297711503

## Result Analysis

In this project, different regressor algorithms were used to train the dataset and evaluation matrices were used to evaluate them. The comparison between these algorithms on the basis of evaluation matrices are given below:

### Linear Regression
1. Mean Absolute Error  - 0.3291 
2. Mean Squared Error   - 0.2244
3. R-Squared Error      - 0.7978
4. Regression Score     - 0.7361

### Support Vector Regression
1. Mean Absolute Error  - 0.2654 
2. Mean Squared Error   - 0.2597
3. R-Squared Error      - 0.7660
4. Regression Score     - 0.6785

### Decision Tree Regression
1. Mean Absolute Error  - 0.2471 
2. Mean Squared Error   - 0.2965
3. R-Squared Error      - 0.7328
4. Regression Score     - 0.9982

### Random Forest Regression
1. Mean Absolute Error  - 0.2313 
2. Mean Squared Error   - 0.1554
3. R-Squared Error      - 0.8599
4. Regression Score     - 0.9650

## Discussion
In this experiment, Regression is done on **"Medical Cost Personal Dataset"** using four different Regressor algorithms, those are **Linear Regression, Support Vector Regression, Decision Tree Regression and Rando Forest Regression.**
First of all the libraries were imported and then dataset was retrived from storage and some preprocessing was done like **Encoding, Taking care of missing data and Feature Scaling.** 
The **charges** column of dataset was taken as the target dataset and **age, bmi, children, smoker** columns were taken as features. Then the dataset is splitted into training and testing where training data was 80% of the dataset. 
After training the data into regressors some evaluation matrices were used to evaluate how the model worked. From Result analysis, it is seen that Random Forest Regressor has better evaluation matrices.